@using dataTransferOlympicGames.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CountryListViewModel
@{
    ViewData["Title"] = "Change User Name";
}

<div class="text-center">
    
    <h2>Change User Name</h2>

    <form asp-action="Change" method="post">

        <input asp-for="UserName" placeholder="Type name here" class="mb-3" /><br />
        <button type="submit" class="btn btn-primary">Change Name</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary" asp-route-activeGame="@Model.ActiveGame" asp-route-activeCat="@Model.ActiveCat">Back to Home Page</a>

    </form>
    <br />
</div>

